# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Java
*.class
*.jar
*.war
*.ear

# Xilinx
.Xil/
clockInfo.txt

# jdtls
.metadata/
jdt.ls-java-project/
java/bin/
java/.settings/
java/.project/
java/.classpath/
