# Ignore everything
*

# Unignore all directories so Git can traverse into them
!*/

# Unignore .pdf and .tex files anywhere in the repository
!**/*.pdf
!**/*.tex

# Unignore all files within any "references" and "figures" directories (at any level)
!**/references/**
!**/figures/**
